# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [311]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

insurance_df = pd.read_csv(url)

In [317]:
insurance_df.rename(columns={"ST": "State", 
                             "GENDER":"Gender", 
                             "Customer Lifetime Value": "Customer_Lifetime_Value",
                             "Monthly Premium Auto":"Monthly_Premium_Auto"}, inplace=True)
insurance_df

,Customer,State,Gender,Education,Customer_Lifetime_Value,Income,Monthly_Premium_Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [172]:
insurance_df["Gender"].value_counts()

Gender
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [174]:
insurance_df["Gender"].isnull().value_counts()

Gender
True     3054
False     954
Name: count, dtype: int64

In [176]:
#insurance_df.apply(lambda x: len(insurance_df["Gender"] if x == "F".upper() else "M".upper()))

#insurance_df["Gender"] = insurance_df["Gender"].fillna("Unknown").apply(lambda x: "Female" if x.lower().startswith("F") else "Male")


insurance_df["Gender"] = insurance_df["Gender"].apply(lambda x: "F" if str(x).lower().startswith("f") else "M" if str(x).lower().startswith("m") else x)


insurance_df["Gender"].value_counts()

Gender
F    502
M    452
Name: count, dtype: int64

In [178]:



state_mapping = {'Cali': 'California',
                 'AZ': 'Arizona',
                 'WA': 'Washington'} 
insurance_df['State'] = insurance_df['State'].map(state_mapping, na_action='ignore')


insurance_df['State'].value_counts()

# Lets do the same with apply and lambda
#insurance_df.State.apply(lambda x: 0 if x=="male" else 1)

State
California    120
Washington     30
Arizona        25
Name: count, dtype: int64

In [180]:


insurance_df["Education"] = insurance_df["Education"].apply(lambda x: "Bachelor" if x == "Bachelors" else x)
insurance_df["Education"].value_counts()

Education
Bachelor                331
College                 313
High School or Below    296
Master                   94
Doctor                   37
Name: count, dtype: int64

In [216]:

#insurance_df["Customer_Lifetime_Value"] = insurance_df["Customer_Lifetime_Value"].replace(lambda x: "" if x== "%" else x) doesnt work, cant use lambda with replace

# Remove the % character from the Customer Lifetime Value column
insurance_df["Customer_Lifetime_Value"] = insurance_df["Customer_Lifetime_Value"].str.replace("%", "")
#.apply(lambda x: x.strip("%") if type(x) == str else x)

insurance_df["Customer_Lifetime_Value"]

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: Customer_Lifetime_Value, Length: 4008, dtype: object

In [184]:
insurance_df["Vehicle Class"] = insurance_df["Vehicle Class"].apply(lambda x: "Luxury" if str(x).lower().startswith("luxury") else x)
insurance_df["Vehicle Class"].value_counts()

Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury            34
Name: count, dtype: int64

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [190]:
insurance_df.dtypes

Customer                      object
State                         object
Gender                        object
Education                     object
Customer_Lifetime_Value       object
Income                       float64
Monthly_Premium_Auto         float64
Number_of_open_Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [321]:
insurance_df["Customer_Lifetime_Value"] = insurance_df["Customer_Lifetime_Value"].apply(lambda x: float(x))

insurance_df["Customer_Lifetime_Value"]

ValueError: could not convert string to float: '697953.59%'

In [198]:
insurance_df["Number of Open Complaints"].value_counts()

Number_of_open_Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

In [323]:

# Check unique values
#insurance_df["Number of Open Complaints"].unique()


# Extract the middle value (the second number in the string) and convert to numeric
insurance_df["Number of Open Complaints"] = insurance_df["Number of Open Complaints"].apply(lambda x: float(x.split('/')[1]))  # Extracts the middle number from the format 'a/b/c')

AttributeError: 'float' object has no attribute 'split'

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [270]:
#insurance_df.dropna(inplace= True)


insurance_df.dropna()

,Customer,State,Gender,Education,Customer_Lifetime_Value,Income,Monthly_Premium_Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [272]:
insurance_df.isnull().sum()

Customer                     2937
State                        2937
Gender                       3054
Education                    2937
Customer_Lifetime_Value      2940
Income                       2937
Monthly_Premium_Auto         2937
Number of Open Complaints    2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64

In [274]:
insurance_df.tail()

,Customer,State,Gender,Education,Customer_Lifetime_Value,Income,Monthly_Premium_Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [299]:
# Filling NaN values with column means

# Lambda function to fill NaN for numeric columns with the mean
#insurance_df[insurance_df.select_dtypes(include=['number']).columns] = insurance_df.select_dtypes(include=['number']).apply(lambda x: x.fillna(x.mean()),inplace=True)

# Lambda function to fill NaN for object columns with the mode
#insurance_df[insurance_df.select_dtypes(include=['object']).columns] = insurance_df.select_dtypes(include=['object']).apply(lambda x: x.fillna(x.mode()[0]),inplace=True)



# Display the last 5 rows
#insurance_df.tail()

TypeError: <lambda>() got an unexpected keyword argument 'inplace'

In [325]:
insurance_df["gender"].unique()
insurance_df["gender"] = insurance_df["gender"].fillna(insurance_df["gender"].mode()[0])

KeyError: 'gender'

In [327]:
insurance_df["Customer_Lifetime_Value"].describe().round(2)
insurance_df["Customer_Lifetime_Value"] = insurance_df["Customer_Lifetime_Value"].fillna(insurance_df["Customer_Lifetime_Value"].mean())

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [329]:
# Identify duplicate rows
duplicates = insurance_df.duplicated()

# Display the number of duplicate rows
print(f"Number of duplicate rows: {duplicates.sum()}")

Number of duplicate rows: 2936

In [331]:
# Drop all duplicate rows, keeping only the first occurrence
insurance_df_cleaned = insurance_df.drop_duplicates()

# Verify the number of rows after dropping duplicates
print(f"Number of rows after dropping duplicates: {insurance_df_cleaned.shape[0]}")

Number of rows after dropping duplicates: 1072

In [333]:
# Drop duplicates, keeping the last occurrence of each duplicated row
insurance_df_cleaned = insurance_df.drop_duplicates(keep='last')

In [335]:
# Drop duplicates based on a subset of columns
insurance_df_cleaned = insurance_df.drop_duplicates(subset=['Customer', 'ST'])

KeyError: Index(['ST'], dtype='object')

In [339]:
# Drop duplicates based on a specific column
insurance_df_cleaned = insurance_df.drop_duplicates(subset='Customer')

insurance_df_cleaned

,Customer,State,Gender,Education,Customer_Lifetime_Value,Income,Monthly_Premium_Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000
1071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here