In [ ]:
import pandas as np # importiert pandas 

Dataframes # Mehrdimensionale Arrays
Serie # 1 Dimensionales Array zB. Column

In [ ]:
# Creating a Series
s = pd.Series(data, index=index)
l = [1980, 2020, 2001, 1999]
series = pd.Series(l)

pd.Series(d) # this creates a series from the dictionary 'd'
new_series[1:3:2]
new_series["d"] #accessing elements by index label

In [ ]:
3.3. Methods in Series 
concat() is a pandas function used to concatenate and 
combine DataFrames along a specified axis, either vertically (rows) or horizontally (columns).

s3 = pd.concat([new_series,new_series])
s3

sort_values() is a pandas DataFrame method that sorts the DataFrame based on specified column(s), 
while sort_index() sorts the DataFrame based on its index labels.

titanic_series.sort_values(ascending=False)


value_counts() is a Pandas function that returns a Series containing the counts of unique values in a Series or DataFrame.
titanic_series.value_counts()

In [ ]:
Dataframes in Pandas

The head() method returns the first few rows of a DataFrame or Series, while the tail() method returns the last few rows.
titanic_df.head(3)

The index attribute in Pandas returns the index labels of a DataFrame or Series, 
and the columns attribute returns the column labels of a DataFrame.
titanic_df.index
list(titanic_df.index)
titanic_df.columns
list(titanic_df.columns)
titanic_df.values

In [ ]:
Data access in Dataframe
Columns
You can extract columns from a DataFrame using dictionary-like notation or as attributes, 
obtaining a Series object in both cases, provided the column label is a valid Python identifier.
titanic_df[["Sex", "Fare"]]

Rows
To access rows in a Pandas DataFrame, you can use the iloc attribute with integer-based indexing or the loc attribute with label-based indexing. 
For example, df.iloc[0] will access the first row, and df.loc['row_label'] will access the row with the specified label.

df_index.loc["789B"] #loc is used for label-based indexing to access rows.
df_index.iloc[1] #df_index.iloc[1]


Specific values
Here's a summary of the different ways to access individual values in a Pandas DataFrame:

df.loc[row_label][column_label]: Chooses the row with the label and then the value in that row with the column label.

df.iloc[row_position][column_label]: Selects the row with the position and then the value in that row with the column label.

df.loc[row_label, column_label]: Directly accesses the value using both row and column labels.

df.iloc[row_position, column_position]: Directly accesses the value using both row and column positions.

Note: you might see df[row_label][column_label], even though is less recommended that using loc().

In [ ]:
shape
shape is a Pandas attribute that returns a tuple representing the dimensions of a DataFrame or Series, 
indicating the number of rows and columns, while shape() is not a valid function in Pandas, 
and attempting to call it will result in an AttributeError.

titanic_df.shape # gives a tuple (nr rows, nr columns)
titanic_df.shape[1] #tuples are accesed like this. nr of columns
titanic_df.shape[0] # nr of rows

describe()
describe() is a Pandas method that generates descriptive statistics of a DataFrame, 
providing information on count, mean, standard deviation, minimum, maximum, and quartiles for each numerical column.

titanic_df.describe()
titanic_df.describe(include="object")
titanic_df.describe(include="all")

info()
info() is a Pandas method that provides a concise summary of a DataFrame, 
including information about the data types, non-null values, and memory usage.

titanic_df.info()

nunique() and unique()
nunique() is a Pandas function that returns the number of unique elements in a Series or DataFrame, 
while unique() returns an array of unique elements in a Series or DataFrame.

titanic_df.nunique() #number of unique values per column
#see unique values of one column
titanic_df.Pclass.unique()

dtypes
dtypes is a Pandas attribute that returns the data types of each column in a DataFrame, 
while dtype is a method that returns the data type of a single element in a Series or DataFrame.

titanic_df.dtypes

select_dtypes()
select_dtypes() is a pandas function used to filter columns in a DataFrame based on their data types. 
It allows you to select numeric, object (string), boolean, datetime, or categorical columns.

DataFrame.select_dtypes(include=None, exclude=None)
include: A list of data types or strings representing data types to include in the selection. If specified, only columns with these data types will be included.
exclude: A list of data types or strings representing data types to exclude from the selection. If specified, columns with these data types will be excluded.

 Aggregation such as max()
titanic_df.select_dtypes(include='number').max() #get the max for each numerical column in the df
titanic_df.Fare.max() #get the max for one numerical column

In [ ]:
Pandas is a library designed for working with tabulated and tagged data, making it ideal for handling spreadsheets, SQL tables, and more, built on top of NumPy.
DataFrames and Series are the two main data structures in Pandas.
Series is a one-dimensional array of data with associated labels called the index, while DataFrame is a two-dimensional tabular data structure with labeled rows and columns.
Data access in Series and DataFrame can be achieved using integer-based indexing (iloc), label-based indexing (loc), or dictionary-like notation for column access.
Series and DataFrame have various methods, such as sort_values(), sort_index(), value_counts(), describe(), info(), nunique(), unique(), dtypes, and select_dtypes().

In [ ]:
Cleaning Data

Null values
In Python, None is a special constant that represents the absence of a value. It is commonly used to indicate that a variable or function has no value or hasn't been assigned any value. For example, if a function does not explicitly return a value, it implicitly returns None.
On the other hand, NaN stands for "Not a Number" and is a special value used to represent missing or undefined numerical data. NaN is part of the floating-point representation and is commonly used in numeric data structures like Pandas DataFrames and Series to indicate missing or invalid numerical values.

Cleaning Null Values
Checking for Null Values:

Use isnull() method to check for null values in a DataFrame or Series.
Use notnull() method to check for non-null values in a DataFrame or Series.
Dropping Null Values:

Use dropna() method to remove rows with null values from a DataFrame.
Use dropna(axis=1) to remove columns with null values.
Filling Null Values:

Use fillna(value) method to replace null values with a specific value.
Use fillna(method='ffill') to forward-fill null values with the previous non-null value.
Use fillna(method='bfill') to backward-fill null values with the next non-null value.

Checking for Null Values
# Checking for Null Values
df.isnull()  # Returns a DataFrame with True where values are null
# isnull is an alias of isna

When working with large datasets, using isna() or isnull() along with any() and sum() in Pandas becomes essential for quick and efficient data quality assessment.

# Check for null values in each column
df.isna().any()

# Count the number of null values in each column
df.isna().sum()

df.isna().sum(axis=1)

Dropping Null Values
# Dropping rows with Null Values
df.dropna()  # Removes rows with null values

# Dropping columns with  Null Values
df.dropna(axis=1)

In the dropna() method of Pandas DataFrame, the subset, how, and thresh parameters are used to control the behavior of dropping rows or columns containing NaN (null) values, when we don't want to drop them just because they have one null value:

subset: It allows you to specify a subset of columns on which to apply the dropna() operation. Only the rows containing NaN values in the specified subset of columns will be dropped.

df.dropna(subset=['Cabin']).tail()
how: It specifies the condition for dropping rows. It can take the values 'any', which means to drop rows containing any NaN values in the subset, or 'all', which means to drop rows containing all NaN values in the subset.
df.dropna(how='all').tail()

thresh: It sets a minimum threshold for the number of non-null values that a row must have in the subset in order to be kept. Rows with fewer non-null values than the specified threshold will be dropped.
df.dropna(thresh=3).tail()

Filling Null Values

fillna() is a Pandas method used to replace NaN (null) values in a DataFrame or Series with specified values.

You can use inplace=True to modify the DataFrame directly.
# Filling Null Values
df.fillna(-1).tail()  # Replaces null values with -1

df_na = df.fillna("na")
df_na.tail()
df_na.dtypes # age is not a float anymore, it's an object now

To avoid this, we can select manually in which column to apply the fillna()
df.Cabin.fillna("na").tail()

We can also use the mean(), median() etc. to fill the null values.
df.Age.fillna(df.Age.mean()).tail()

Two common methods for filling NaN values are ffill, which forward fills using the last valid value, and bfill, which backward fills using the next valid value.
# Forward-fill null values in the Age column
df['Age'].fillna(method='ffill').tail()

# Backward-fill null values in the Age column
df['Age'].fillna(method='bfill').tail()

In [ ]:
Dealing with Duplicates

To identify duplicate rows in a DataFrame, we can use the duplicated() method, which returns a boolean Series indicating whether each row is a duplicate or not. We can then use the sum() method to count the total number of duplicates.
df.duplicated().sum()
df.duplicated().any()

To check for duplicates in specific columns, we can use the duplicated() method with the subset parameter, or just access first to the column and then check with duplicated().

df.duplicated(subset=['Age']).sum()# Check for duplicates in specific columns

Removing Duplicates

Removing Duplicates Based on Specific Columns
# Remove duplicates based on specific columns
df.drop_duplicates(subset=['Sex', 'Age']) #lets look at the number of rows if we do this

By default, drop_duplicates() keeps the first occurrence of each duplicated row. If we want to keep the last occurrence instead, we can set the keep parameter to 'last'
# Keep the last occurrence of duplicates
df.drop_duplicates(keep='last', inplace=True) # we know there are none but this is how we would do it

Resetting the Index
When removing duplicates, the DataFrame index may have gaps due to removed rows. To reset the index after removing duplicates, we can use the reset_index() method with the drop=True parameter.
# Remove duplicates and reset the index
df_without_duplicates = df.copy()
df_without_duplicates = df.drop_duplicates(subset=['Sex', 'Age'])
df_without_duplicates.tail() # look at the gaps in the index

df_without_duplicates.reset_index(drop=True, inplace=True)
df_without_duplicates.tail()

In [ ]:
Cleaning Column Names

In order to modify them, we can assign new column names to df.columns by doing df.columns = [list_of_new_column_names] or we can use the rename() method to just modify a few of them.
# We need the whole list of new column names
# just modified SibSP to sib_sp

df.columns = ['passenger_id', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSP',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

df.columns

# We just need a dictionary with the columns we want to modify
# Getting the name back as it was

df.rename(columns= {'passenger_id': 'PassengerId'}, inplace=True)
print(df.columns)

In [ ]:
Using apply(), map(), and applymap()

apply()

Apply a custom function to a Series.
Useful for element-wise transformations.
Example: df['squared_numbers'] = df['numbers'].apply(lambda x: x ** 2)
map()

Transform Series elements based on a dictionary.
Replaces elements with corresponding dictionary values.
Example: df['gender_mapped'] = df['gender'].map({'M': 'Male', 'F': 'Female'})
applymap()

Apply a custom function to every element in a DataFrame.
Useful for element-wise transformations on entire DataFrames.
Example: df = df.applymap(lambda x: x.upper())

Apply()

# Applying a custom function using apply()
def get_yob(age):
    return 1912-age #titanic sank in 1912, we will assume is when Age was recorded

df['yob'] = df['Age'].apply(get_yob)
df.head(3)
# Apply and applymap are great for using lambda! This is the same as above

df['yob'] = df['Age'].apply(lambda age: 1912-age)

df['Fare'] = df['Fare'].apply(lambda num: round(num, 2))
df['Fare']

Map()

# Using map() to transform the 'Sex' column
gender_mapping = {'male': 0, 'female': 1}
df['Gender_mapped'] = df['Sex'].map(gender_mapping)
df.head()

# Lets do the same with apply and lambda
df.Sex.apply(lambda x: 0 if x=="male" else 1)

applyMap()

# Using applymap() to convert all string columns to uppercase
df = df.applymap(lambda x: x.upper() if isinstance(x, str) else x)

# Displaying the modified DataFrame
df.head()

In [ ]:
Filtering Data

df.Fare.mean()
condition = df.Fare > df.Fare.mean()
condition

Filtering df
filtered_df = df[condition]
filtered_df
# or what is the same, inside the brackets I give True/False Series in order to filter
df[df.Fare > df.Fare.mean()]

Using multiple conditions
# We can combine boolean operators with filters to add conditions
# boolean operators: and is &, or is |
df[(df.Fare > df.Fare.mean()) & (df.Fare <= 50)]

# To avoid using many filters we can also use .isin()

df[(df['Fare'] > 100) & (df['Pclass'].isin([2,3]))]

# We can also use between()

df[df['Fare'].between(90,100)]

In [ ]:
More Data Manipulation

To set an index in pandas, you can use the set_index() method of the DataFrame. This method allows you to specify which column you want to use as the index for the DataFrame.
df.set_index('PassengerId',inplace=True)
df.head()

Adding rows:

Use the append() method to add rows to the DataFrame.
Removing rows:

Use the drop() method with the row index or label to remove specific rows.
Adding columns:

Using df[new_column], you simply assign a list, Series, or scalar value to the new column name
Assign a new column to the DataFrame using bracket notation or the assign() method.
Removing columns:

Use the drop() method with the column name and axis=1 to remove specific columns.
Alternatively, you can use the del keyword to remove a column in-place.

df.drop(1) # This deletes the row with index 1

# This deletes a column

df.drop('Name',axis=1,inplace=True)
df.head()

# This creates a new column

df["Survived_bool"] = df['Survived'].map({0: False, 1: True})
df

In [ ]:
Summary

Null Values:

Null values (also known as missing values) can hinder data analysis and modeling.
Use isnull() or isna() to check for null values in a DataFrame or Series.
Use any() and sum() to efficiently assess data quality.
Use dropna() to remove rows or columns with null values from a DataFrame.
Parameters like subset, how, and thresh can control the behavior of dropping rows or columns.
Use fillna() to replace null values with specific values, such as mean(), median(), or forward/backward fill.
Formatting Data:

Use round() and format() to format numeric values.
Use f-strings, format() or % to format strings and use string methods like lower(), upper(), title(), strip(), split(), and replace().
Cleaning Column Names:

Use df.columns to access column names.
Modify column names using df.columns or rename().
Using apply(), map(), and applymap():

apply(): Applies a custom function to a Series.
map(): Transforms Series elements based on a dictionary.
applymap(): Applies a custom function to every element in a DataFrame.
Filtering Data:

Filter rows in a DataFrame using boolean indexing.
Use comparison operators (<, >, ==) to create conditions.
Combine multiple conditions using logical operators (& for 'and', | for 'or').
Setting the Index:

Use set_index() to set an index for the DataFrame.
Adding/Removing Rows and Columns:

Use append() to add rows to the DataFrame.
Use drop() with the row index/label to remove specific rows.
Use bracket notation, assign(), or drop() with axis=1 to add/remove columns.